body {
  background: #ffe6f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

#yesBtn {
  background: hotpink;
  color: white;
}

#noBtn {
  background: lightgray;
  position: absolute;
}
